$n2: 2px;
$n4: 4px;
$n8: 8px;
$n12: 12px;
$n14: 14px;
$n16: 16px;
$n20: 20px;
$n24: 24px;
$n28: 28px;
$n32: 32px;
$n40: 40px;
$n48: 48px;
$n56: 56px;
$n64: 64px;


/* container width */
$containerDesktop: 1170px;

/* points */
$pointTablet: 992px;
$pointMobile: 768px;